/* Reset default browser styles */
body {
    
    background-image: linear-gradient(to bottom, #47585c, #c8d5bb);
   
    font-family: "Times New Roman", Times, serif;
      
      
    margin: 0;
    padding: 0;
 }
 
 /* Header styles */
 header {
    background-color: #47585c00;
    color: #c8d5bb;
    padding: 10px;
    .resizedimage {
      width: 6%; /* Adjust the width as needed */
      height: 20% /* Maintain aspect ratio */}
 }
 
 nav ul {
    list-style-type: none;
 }
 
 nav ul li {
    display: inline;
    margin-right: 10px;
 }
 
 nav ul li a {
    color: #c8d5bb;
    text-decoration: none;
 }
 
 /* Section styles */
 section {
    padding: 50px;
 }
 
 h1, h2, p {
    color: #c8d5bb;

    font-family: "Times New Roman", Times, serif;
     
    margin-bottom: 40px;
 }
 h3 { color:#47585c}
 .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
 }
 
 /* Footer styles */
 footer {
    background-color: #ff010100;
    color: #f3060600;
    padding: 100px;
    text-align: center;
 }