body {
    
    background-image: linear-gradient(to bottom, #47585c, #c8d5bb);
   
    font-family: "Times New Roman", Times, serif;
      
      
    
 }
 /* Default styles for all devices */



.container {
  text-align: center;
  
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 400px;
}

.btn, .mbtn {
  margin: 5px;
}

/* Styles for devices with a minimum width
 /* Default styles for all devices */


.button {
  width: 100%;
}

/* Styles for devices with a minimum width of 768px */
@media screen and (min-width: 768px) {
  .button {
    width: 50%;
  }
}

/* Styles for devices with a minimum width of 992px */
@media screen and (min-width: 992px) {
  .button {
    width: 25%;
  }
}
 .resized-image {
  margin-top: 100px;
    width: 50%; /* Adjust the width as needed */
    height: 100% /* Maintain aspect ratio */}
    .fade-in-text {
      font-family: "Times New Roman", Times, serif;
      font-size: 18px;
      animation: fadeIn 5s;
    } 
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    .fade-in-image { animation: fadeIn 5s ; }
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    

    
    
    
.container {
    text-align: center;
    margin-top: 0px;
    color: #47585c;
  }
  
  .btn {
    padding: 20px 20px;
    font-size: 18px;
    background-color: #4e363600;
    color: #47585c;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
  }
  button.mbtn {
    padding:20px 20px;
    border-radius: 0px;
    color:#47585c;
    background-color:#47585c00;
    font-size:18px;
    border:0;
    cursor:pointer;
    margin:0px;
    font-family: "Times New Roman", Times, serif;
  }
  
  button.mbtn.green
  {
      background-color:#47585c00;
  }
  
  button.mbtn.red
  {
      background-color:#47585c00;
  }
